# Ignore everything by default.
*

# Allow Git to traverse src and track every file below it.
!src/
!src/**/
!src/**

# Keep this ignore configuration tracked.
!.gitignore

# Keep Cargo files
!Cargo.*

# Keep assignment-specific files
!tester.sh
